<% if (typeof project !== 'undefined') { %>
  <div class="project">
    <% if (typeof latestProjects !== 'undefined') { %> 
      <div class="muted project__label" data-aos="fade-up">Latest project</div>
    <% } %>
    <div class="project__title h1"data-aos="fade-up" data-aos-delay="50">
      <!-- <a href="/projects/<%= project.id %>/index.html"> -->
        <%= project.title %>
      <!-- </a> -->
    </div>
    <!-- <a href="/projects/<%= project.id %>/index.html" class="slider__container" data-aos="fade-up"> -->
      <div class="slider__container" data-aos="fade-up">
        <span class="project__slider slider">
          <% for(var i = 1; i <= project.desktopImages; i++) {%>
            <img src="<%= `/images/projects/${project.id}${i}.png` %>" alt="<%= project.title %>">
          <% } %>
        </span>
      </div>
    <!-- </a> -->
  </div>
<% } %> 