<section class="section atf">
  <div>
    <header class="atf__header">
      <div class="page-title atf__h1">
        <div class="reveal-text">
          <div class="reveal-text__content">
            <%= about.title.line1 %><span class="atf__number number--1">(1)</span> <%= about.title.line2 %><span
              class="atf__number number--2">(2)</span>
          </div>
        </div>
      </div>
      <div class="muted atf__notes" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
        (1) <%= about.notes.line1 %><br>
        (2) <%= about.notes.line2 %>
        <a title="TVtime" href="https://www.tvtime.com/it/user/7624959/profile"
          class="link--decorate link--decorate-visible">TVtime</a>
      </div>
    </header>
    <div class="atf__text" data-aos="fade-up" data-aos-duration="800" data-aos-delay="900">
      <%- about.description %>
    </div>
  </div>
</section>