<section class="section me">
  <header class="me__header" data-aos="fade-up" data-aos-delay="50">
    <div class="h1 me__h1"><%= title %></div>
    <div class="me__text">
      <%- description %>
    </div>
  </header>
  <div class="me__items mobile-slider">
    <% for (let [index, item] of me.entries()) { %>
    <div class="me__item" data-aos="fade-up" data-aos-delay="50">
      <% if (item.title) { %>
      <div class="h2 me__item-h2">
        <a title="<%= item.title %>" target="_blank" href="<%= item.link.url %>">
          <%= item.title %>
        </a>
      </div>
      <% } %>
      <% if (item.description) { %>
      <div class="me__item-text">
        <div><%- item.description %></div>
        <% if (item.link) { %>
        <div class="me__item-link">
          <div class="slider__counter">
            -
            <span class="current-slide">
              <%= ("0" + (index + 1)).slice(-2) %>
            </span>
            <span class="total-slides">
              <%= ("0" + me.length).slice(-2) %>
            </span>
          </div>
          <a title="<%= item.link.title %>" target="_blank" href="<%= item.link.url %>" class="link--decorate">
            <%= item.link.title %>
          </a>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <% if (item.image && !item.link) { %>
      <img src="<%= item.image.path %>" alt="<%= item.image.alt %>" title="<%= item.image.description %>">
      <% } %>
      <% if (item.link) { %>
      <% if (item.image) { %>
      <a title="<%= item.link.title %>" target="_blank" href="<%= item.link.url %>">
        <img src="<%= item.image.path %>" alt="<%= item.image.alt %>" title="<%= item.image.description %>">
      </a>
      <% } %>
      <div class="me__item-link">
        <div class="slider__counter">
          -
          <span class="current-slide">
            <%= ("0" + (index + 1)).slice(-2) %>
          </span>
          <span class="total-slides">
            <%= ("0" + me.length).slice(-2) %>
          </span>
        </div>
        <a title="<%= item.link.title %>" target="_blank" href="<%= item.link.url %>" class="link--decorate">
          <%= item.link.title %>
        </a>
      </div>
      <% } else { %>
      <div class="slider__counter">
        -
        <span class="current-slide">
          <%= ("0" + (index + 1)).slice(-2) %>
        </span>
        <span class="total-slides">
          <%= ("0" + me.length).slice(-2) %>
        </span>
      </div>
      <% } %>
      <% } %>
    </div>
    <% } %>
  </div>
</section>